Repository matrix-org/matrix-public-archive, pull requests merged in 2022-11, with the labels that each got.

#117 Refactor to use `TimelineView`
  public/css/styles.css
  shared/hydrogen-vm-render-script.js
  shared/viewmodels/ArchiveRoomViewModel.js
  shared/views/ArchiveRoomView.js
Labels: T-Task, A-archive-room-view

#118 Move Hydrogen `timelineViewModel` creation to our main view model
  shared/hydrogen-vm-render-script.js
  shared/viewmodels/ArchiveRoomViewModel.js
  shared/views/ArchiveRoomView.js
Labels: T-Task, A-archive-room-view

#114 Add a way to jump forwards and backwards to more activity in the room (seamless navigation)
  config/config.default.json
  package-lock.json
  package.json
  public/css/styles.css
  server/lib/fetch-endpoint.js
  server/lib/matrix-utils/fetch-events-from-timestamp-backwards.js
  server/lib/matrix-utils/get-messages-response-from-event-id.js
  server/routes/room-routes.js
  shared/hydrogen-vm-render-script.js
  shared/lib/custom-tile-utilities.js
  shared/lib/url-creator.js
  shared/viewmodels/ArchiveRoomViewModel.js
  shared/viewmodels/JumpToNextActivitySummaryTileViewModel.js
  shared/viewmodels/JumpToPreviousActivitySummaryTileViewModel.js
  shared/views/ArchiveRoomView.js
  shared/views/JumpToNextActivitySummaryTileView.js
  shared/views/JumpToPreviousActivitySummaryTileView.js
  test/e2e-tests.js
  test/lib/client-utils.js
  test/lib/test-error.js
Labels: T-Enhancement, A-archive-room-view

#119 Don't change the URL as you scroll around
  shared/viewmodels/ArchiveRoomViewModel.js
Labels: T-Defect, A-archive-room-view

#122 Refactor `fetchEndpointAsText`/`fetchEndpointAsJson` to return `res` alongside `data`
  server/lib/fetch-endpoint.js
  server/lib/matrix-utils/ensure-room-joined.js
  server/lib/matrix-utils/fetch-public-rooms.js
  server/lib/matrix-utils/fetch-room-data.js
  server/lib/matrix-utils/get-messages-response-from-event-id.js
  server/lib/matrix-utils/timestamp-to-event.js
  test/e2e-tests.js
  test/lib/client-utils.js
Labels: T-Task

#121 Jump forward and backward seamlessly
  server/routes/room-routes.js
  test/e2e-tests.js
Labels: T-Defect, A-archive-room-view

#126 Add comment reference to issue about adding hour chunk time slices
  server/routes/room-routes.js
Labels: T-Task

#127 Add config to disable search engine indexing
  config/config.default.json
  server/routes/room-directory-routes.js
  server/routes/room-routes.js
Labels: T-Task

#130 Fix NPE with non-existent event permalink `?at=$doesnotexist`
  shared/viewmodels/ArchiveRoomViewModel.js
Labels: T-Defect, A-archive-room-view

#131 Update Hydrogen SDK dependency `0.23.0-scratch`
  package-lock.json
  package.json
Labels: T-Task

#133 Fix room image avatars not showing in the room directory
  shared/viewmodels/ArchiveRoomViewModel.js
  shared/views/RoomCardView.js
Labels: T-Defect, A-room-directory

#134 Updates to be compatible with the latest Hydrogen changes (rename `urlCreator` -> `urlRouter`)
  package-lock.json
  package.json
  shared/hydrogen-vm-render-script.js
  shared/room-directory-vm-render-script.js
  shared/viewmodels/ArchiveRoomViewModel.js
Labels: T-Task

#135 Add Matrix favicon
  public/img/favicon.ico
  public/img/favicon.svg
  server/hydrogen-render/render-hydrogen-vm-render-script-to-page-html.js
Labels: T-Enhancement

#136 Add `Copy permalink` option to messages (`matrix.to`)
  package-lock.json
  package.json
  shared/hydrogen-vm-render-script.js
  shared/lib/stub-powerlevels-observable.js
  shared/viewmodels/ArchiveRoomViewModel.js
Labels: T-Enhancement, A-archive-room-view

#144 Update readme with creature comforts and MSC3030-enabled server prerequisite
  README.md
  config/config.default.json
Labels: documentation, T-Enhancement

#147 Enable CORS support
  package-lock.json
  package.json
  server/routes/install-routes.js
Labels: T-Enhancement, community-contribution
