Repository matrix-org/matrix-public-archive, pull requests merged in 2023-06, with the labels that each got.

#261 Fix Firefox sorting room cards in the wrong direction
  shared/viewmodels/RoomDirectoryViewModel.js
Labels: T-Defect, A-room-directory

#262 Add reason why the archive bot is joining the room
  docs/faq.md
  server/lib/matrix-utils/ensure-room-joined.js
  test/e2e-tests.js
Labels: documentation, T-Enhancement

#265 Add `/faq` redirect
  server/routes/install-routes.js
Labels: T-Enhancement, A-backend

#266 Use `rel=canonical` link to de-duplicate event permalinks
  server/hydrogen-render/render-hydrogen-to-string-unsafe.js
  server/hydrogen-render/render-page-html.js
  server/middleware/timeout-middleware.js
  server/routes/client-side-room-alias-hash-redirect-route.js
  server/routes/room-directory-routes.js
  server/routes/room-routes.js
Labels: T-Enhancement, A-archive-room-view

#268 Prevent join event spam with stable `reason`
  server/lib/matrix-utils/ensure-room-joined.js
Labels: T-Defect, A-archive-room-view

#269 Prefer canonical room alias in `rel=canonical` link
  server/routes/room-routes.js
Labels: T-Enhancement, A-archive-room-view

#239 Don't allow previewing `shared` history rooms
  server/lib/matrix-utils/fetch-room-data.js
  server/routes/room-directory-routes.js
  server/routes/room-routes.js
  test/e2e-tests.js
Labels: T-Enhancement, community-contribution

#275 Fix eslint trying to look at `node_modules/`
  package.json
Labels: T-Task

#277 Update FAQ to explain `world_readable` only
  docs/faq.md
Labels: documentation, T-Task

#278 Indicate when the room was set to `world_readable` and by who
  server/lib/matrix-utils/fetch-room-data.js
  server/routes/room-routes.js
  shared/hydrogen-vm-render-script.js
  shared/viewmodels/ArchiveRoomViewModel.js
  shared/views/RightPanelContentView.js
Labels: T-Enhancement, A-archive-room-view

#279 Fix `18+` false positives with NSFW check
  shared/lib/check-text-for-nsfw.js
  test/shared/lib/check-text-for-nsfw-tests.js
Labels: T-Defect

#276 Only show `world_readable` rooms in the room directory
  server/lib/matrix-utils/fetch-accessible-rooms.js
  server/lib/matrix-utils/fetch-public-rooms.js
  server/routes/room-directory-routes.js
  shared/lib/url-creator.js
  shared/viewmodels/RoomDirectoryViewModel.js
  shared/views/RoomDirectoryView.js
  test/dockerfiles/Synapse.Dockerfile
  test/e2e-tests.js
  test/test-utils/client-utils.js
Labels: T-Enhancement, A-room-directory, A-backend
